main .slogan {
    height: 100vh;
    background-attachment: fixed;
    background-color: rgb(255,255,255,.35);
    background-image: url("/img/bg-img/stripeFrame_Desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
}
main .slogan > header {
    position: relative;
}
main .slogan > header > h1 {
    color: white;
    font-family: "Archivo-Regular", "Archivo";
    font-size: 8vw;
    font-weight: 300;
    line-height: 0.9em;
    padding: 0;
    right: 5vw;
    text-align: center;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    top: 50vh;
    z-index: 0;
    position: absolute;
}
main .slogan > header > h1 span {
    display: block;
    font-size: .7em;
}

main .slogan video {
    height: 100vh;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 50%;
    width: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
}

@media only screen and (max-width: 768px) {
    main .slogan video {
        right: 0;
        z-index: -1;
    }
    main .slogan > header > h1 {
        font-size: 4vh;
        left: 0;
    }
    main .slogan {
        background-image: url(/img/bg-img/stripeFrame_Mobile.svg);
        background-position: 0;
    }
}