<div class="single_advisor wow fadeInUp">
    <div class="thumb_container">
        <a rel="noreferrer" href="{{ .linkedin }}" target="_blank">
            <div class="advisor_thumb">
                <picture class="bio-photos">
                    {{$path := printf "img/team/300w/webp/%s.webp" .photo }}
                    {{ $webp := resources.Get $path | fingerprint }}
                    <!-- <source type="image/webp" srcset="{{$webp.Permalink}}" integrity="{{$webp.Data.Integrity}}"> -->
                    <source type="image/jpeg" srcset="img/team/300w/jpg/{{ .photo }}.jpg 300w">
                    <img class="bio-photos" src="img/team/300w/jpg/{{ .photo }}.jpg" alt="{{ .name }}">
                </picture>
            </div>
        </a>
    </div>
    <div class="single_advisor_details_info text-left">
        <h4>{{ .name }}</h4>
        <h5 class="text-red">{{ .role }}</h5>
    </div>
</div>